@import url(./_size/button_size-l.css);
@import url(./_size/button_size-s.css);
@import url(./_size/button_size-m.css);
@import url(./_size/button_size-xl.css);
@import url(./_size/button_size-xxl.css);

@import url(./_width/button_width-full.css);

.button {
    background-color: var(--color-bg-primary, white);
    color: var(--color-typo-primary, black);
    border-color: var(--color-bg-border, black)
}
