.theme_size-default {
    --size-typo-s: 7px;
    --size-typo-m: 8px;
    --size-typo-l: 10px;
    --size-typo-xl: 11px;
    --size-typo-xxl: 13px;

    --line-height-typo-s: 18px;
    --line-height-typo-m: 21px;
    --line-height-typo-l: 25px;
    --line-height-typo-xl: 28px;
    --line-height-typo-xxl: 34px;
}
