@import url(./_size/input_size-s.css);
@import url(./_size/input_size-m.css);
@import url(./_size/input_size-l.css);
@import url(./_size/input_size-xl.css);
@import url(./_size/input_size-xxl.css);
@import url(./_size/input_size-xxxl.css);
@import url(./_size/input_size-xxxxl.css);

.input {
    /*
    background-color: var(--color-bg-primary, white);
    color: var(--color-typo-primary, black);
    border-color: var(--color-bg-border, black)
     */
}
