.theme_color-warning {
    --color-bg-primary: #FF9900;
    --color-bg-accent: #FFFFFF;
    --color-bg-border: #FFFFFF;

    --color-typo-primary: #FFFFFF;
    --color-typo-secondary: rgba(255, 255, 255, 0.6);
    --color-typo-extra: rgba(255, 255, 255, 0.3);
    --color-typo-link: #FFF;
}
